<app-content-header icon="thumbs_up_down" headerTitle="Clients" desc="Privileged to have worked with Fortune 500 giants, driving cutting-edge digital solutions and pioneering tech frontiers."></app-content-header>

<div class="container p-3">
    <div fxLayout="row wrap" fxLayoutAlign="center center"> 

        <div fxFlex="100" fxFlex.gt-md="85" fxFlex.md="90" class="p-3">  
            <mat-card >
                <app-all-clients></app-all-clients>
            </mat-card>  
        </div>

        <div fxFlex="100" fxFlex.gt-md="85" fxFlex.md="90" class="p-3">            
            <app-testimonials></app-testimonials>
        </div>

        <div fxFlex="100" fxFlex.gt-md="85" fxFlex.md="90">            
            <app-statistics></app-statistics>
        </div>
        
    </div>
</div>