<app-content-header icon="article" headerTitle="Articles, Papers"
    desc="Publishing articles and papers on multiple tech platforms and international journals. Article primarily focussed on Microservices, Cloud, FinTech."></app-content-header>

<div class="container p-3">
    <div fxLayout="row wrap" fxLayoutAlign="center center">
        <div fxFlex="100" fxFlex.gt-md="85" fxFlex.md="90">
            <div fxLayout="row wrap" fxLayoutAlign="center center">
                <div *ngFor="let service of services" fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="50" class="p-3">
                    <mat-card fxLayout="column" fxLayoutAlign="center center" class="w-100 service-item">
                        <a [href]="service.platformUrl" target="_blank">
                            <img [src]="service.imageUrl" alt="{{service.platformDescription}}"
                                style="max-width: 150px;max-height: 150px;">
                        </a>
                        <!--<h4 class="service-title my-4">{{service.platformDescription}}</h4>-->
                        <a [href]="article.link" target="_blank" class="mx-2" alt="Presentation Powerpoint"
                            *ngFor="let article of service.articles" style="padding-top: 10px;">
                            {{article.title}}
                        </a>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>